.floating-credit { position:fixed; bottom:10px;right:10px; color:rgb(253, 252, 252); font-size:13px;font-family:arial,sans-serif; }
.floating-credit a { text-decoration:none; color:#000000; font-weight:bold; }
.floating-credit a:hover { border-bottom:1px dotted #f8f8f8; }